* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: rgb(179, 167, 13);

}

ul {
    list-style: none;
    font-style: italic;
    font-size: 25px;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    background-image: url(./pexels-ervick-2003154.jpg);
    background-repeat: space;
    background-position: center center fixed;
    background-size: cover;

}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-shadow: 1px 1px 10px 1px rgba(179, 168, 13, 0.582);
}

header ul {
    display: flex;


}

header ul li {
    padding: 7px;
}

header ul li a:hover {
    transition: 800ms;
}

header ul li a:hover {
    color: rgba(251, 255, 0, 0.966);
    text-decoration: underline transparent;

}

.container {
    text-align: center;


}

.container .name h1 {
    font-size: 60px;
    padding-top: 30px;

    /* color: rgba(255, 234, 138, 0.938); */
}

.container .name h5 {
    font-size: 20px;
}

#arrow {
    font-size: 35px;
    cursor: pointer;
    animation: blink 1s steps (5, start) infinite;
}


@keyframes blink{
    to {
        visibility: hidden;
    }
}

#animation {
    transition: 300ms;
}

.rotate {
    transform: rotate(180deg);
    transition: 800ms;
}

.active {
    display: block !important;
}

#about p {
    max-width: 600px;
    margin: 0 auto;
    font-weight: 500;
}

.form {
    width: 40%;
    margin: 50px auto;
    border: thick double rgba(179, 168, 13, 0.315);
    padding: 25px;
}

.form input {
    width: 50%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.form button {
    width: 15%;
    padding: 5px 10px;
    color: rgb(57, 65, 8);
    background-color: rgb(248, 204, 10);
    border: none;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    font-weight: 600;
    transition: 600ms;
}

.form button:hover {
    color: rgb(227, 235, 160);
    background-color: rgb(34, 34, 11);
    /* border: 1px solid rgba(255, 253, 156, 0.397); */
}